---
layout: default
title: Small variant analysis
---

<script> function mouseOver(x) {document.getElementById("legend").innerHTML = x.title;}</script>

<div class="color-bg-tertiary-light">
  <div class="container-lg text-center" >
    <img
      alt=""
      src="/assets/img/smallVariants3.png"
      onmouseover="mouseOver(this)"
      class="block width-fit"
      title="Exploratory analysis"
          />
  </div>

  <div class="container-lg d-flex flex-column justify-content-evenly py-3 px-3">
    <style> div {text-align: justify; text-justify: inter-word; } </style> 
    
    <h1 class="h2">Small variant analysis</h1>
    <p class="f3">
      Single-nucleotide polymorphisms (SNPs) and small insertions/deletions (indels) are the two most common types of genetic variants found in genomes.
    </p>

    <h1 class="h2 pt-4">Workflow</h1>
    <div class="container-lg page-section pt-2">
      <div class="container-lg d-flex flex-column flex-sm-row flex-sm-justify-between flex-sm-items-center py-3 px-3">
	<div class="d-flex flex-self-center" style="flex-basis:10%">
	  <h3 class="h3 text-center mb-auto">Step 1</h3>
	</div>
	
	<div class="d-flex flex-column" style="flex-basis:90%" >
	  <h2 class="h3">Short variant discovery</h2>
	  <p class="f3">
	    Variant calling is a method of identification of the differences between the aligned sequenced reads and the reference genome. A wide range of variant callers can be found in the literature aimming to mask alignment and sequencing artifacts, two of the main issues driving the missidentification of variants.
	  </p>  
	</div>
      </div>

      <div class="container-lg d-flex flex-column flex-sm-row flex-sm-justify-between flex-sm-items-center py-3 px-3">
	<div class="d-flex flex-self-center" style="flex-basis:10%">
	  <h3 class="h3 text-center mb-auto">Step 2</h3>
	</div>
	
	<div class="d-flex flex-column" style="flex-basis:90%" >
	  <h2 class="h3">Filtration of variants</h2>
	  <p class="f3">
	    After the variant calling stage, raw SNV and indels in the Variant Call Format (VCF) are obtained. At this stage it is usually recommended either setting hard filters on the data or performing other more complex methodologies (e.g. GATK's Variant Quality Score Recalibration).
	  </p>  
	</div>
      </div>
      
      <div class="container-lg d-flex flex-column flex-sm-row flex-sm-justify-between flex-sm-items-center py-3 px-3">
	<div class="d-flex flex-self-center" style="flex-basis:10%">
	  <h3 class="h3 text-center mb-auto">Step 3</h3>
	</div>
	
	<div class="d-flex flex-column" style="flex-basis:90%" >
	  <h2 class="h3">Variant annotation</h2>
	  <p class="f3">
	    At last, the set of filtered variants are functionaly annotated regarding their gene(s)/transcript(s), assessing their influence on protein sequence, and equating the variant with known genomic annotations. Using bioinformatic tools, the seriousness and impact of variants will be quantified.
	  </p>  
	</div>
      </div>
    </div>
    
    <div class="container-lg d-flex flex-column justify-content-evenly px-3 pt-4">
      <h1 class="h2">Available pipelines</h1>
      <div class="container-lg page-section py-2">
	<div class="d-md-flex flex-wrap gutter flex-auto">
	  {% assign apps = collections.genomics %}
	  {% for app in apps %}{% if 'variant_calling' == app.data.label %}
	  {% include "genomic" app: app.data %}{% endif %}
	  {% endfor %}
	</div>
      </div>
    </div>
  </div>
</div>
