<div class="col-lg-6 col-md-6 mb-3 mt-3 d-flex flex-column pt-0">
  <a
    href="/analysis/genomics/{{ app.slug }}/"
    class="d-flex flex-column color-bg-primary rounded-1 box-shadow border text-inherit no-underline flex-1 anim-hover-grow"
    style="height: 100%"
  >
    <h3 class="h4 px-3 pt-3">{{ app.title }}</h3>
    <p class="color-text-secondary lh-condensed px-3 pb-3">{{ app.description }}</p>
  </a>
</div>
